body,html {color:#B5C3D4;background: #4C6C96 url(../gfx/greyblu/interface/back.gif) repeat-x fixed;}
h2 {color: #FFFFFF;}
h1 {color: #FFFFFF;}
.CollectDivide {color:#B5C3D4;background: #000000 url(../gfx/greyblu/interface/CollectDivide.gif) repeat-x;}
.CollectBack {color:#B6BBC1;background: #293340 url(../gfx/greyblu/interface/CollectBack.gif) repeat-x fixed;}

a:link {color:#B5C3D4;}
a:visited {color:#B5C3D4;}
a:hover {color:#FFFFFF;}
a:active {color:#B5C3D4;}

#Header {border-bottom: 1px solid #5A7599;background: url(../gfx/greyblu/titles/title.gif) no-repeat;}
#Footer {border-top: 1px solid #94A7C0;}

.TopInpageNav {border-bottom: 1px solid #5A7599;}


.OxColourPale, .ListviewTitleStyle {color:#B5C3D4;}


.Listview td {border-bottom: 1px solid #5A7599;}
.FormError {color: #C2E066;}
.FormIncorrect {color: #C2E066;border: 1px solid #6C8963;background: #203B5D;}
.PageInformal {color: #C2E066;border: 1px solid #6C8963;background: #203B5D;}

.NoFind {border: 1px solid #94A7C0;background: #203B5D;}
.NoFind .highlight {color:#FFFFFF;}
.NoFind a:link, .NoFind a:visited, .NoFind a:hover, .NoFind a:active {color:#FFFFFF;text-decoration:underline;}

.HorizontalWhiteNav a:link, .HorizontalWhiteNav a:visited, .HorizontalWhiteNav a:active, .HorizontalWhiteNav a:hover, .BasicsBox .VerticalNav a:link, .BasicsBox .VerticalNav a:visited, .BasicsBox .VerticalNav a:active, .BasicsBox .VerticalNav a:hover, .ListTitle a:link, .ListTitle a:visited, .ListTitle a:hover, .ListTitle a:active, .HomePanel a:link, .HomePanel a:visited, .HomePanel a:active, .HomePanel a:hover {color:#FFFFFF;}
.HorizontalWhiteNav li, .HorizontalNav li {border-left:1px solid #B5C3D4;}

#CollectionMinRightNav li {border-left:1px solid #B6BBC1;}

.CollectBack a:link, .CollectBack a:visited, .CollectBack a:active {color:#B6BBC1;}
.CollectBack a:hover  {color:#FFFFFF;}

#CollectionMenu {border-right: 1px solid #79899C;}

#ThemeBoxPanel, #SearchBoxPanel, #ResearchBoxPanel, .ResourcePanel, .ResourcePanelSmall, .HomePanelIN, .HomePicturePanelIN {border-top: 1px solid #FFFFFF;border-right: 1px solid #94A7C0;border-bottom: 1px solid #94A7C0;border-left: 1px solid #94A7C0;}

#ThemeBoxPanel , #SearchBoxPanel {background: #5A7599 url(../gfx/greyblu/interface/SearchBox.gif) repeat-x;}
#ResearchBoxPanel, .HomePanelIN {background: #5A7599 url(../gfx/greyblu/interface/researchpanel.jpg) repeat-x;}
.ResourcePanel {background: #567298 url(../gfx/greyblu/interface/resourcepanel.gif) repeat-x;}
.ResourcePanelSmall {background: #567298 url(../gfx/greyblu/interface/resourcepanel.gif) repeat-x;}
.IconVideo {background: url(../gfx/greyblu/interface/IcVideo.gif) no-repeat 140px 5px;}

.ImageBorder, .RecordPanel .Picture {border: 1px solid #FFFFFF;}
.VideoBorder {border: 1px solid #000000;}	
.CollectImageBorder {border: 1px solid #79899C;}	

.PanelShadow {background: url(../gfx/greyblu/interface/panelshadow.gif) repeat-x;height: 5px;}
.IconCollect, .KeyCollect	{background: url(../gfx/greyblu/interface/IcCol.gif) no-repeat;}
.IconCollectOut, .KeyCollectOut	{background: url(../gfx/greyblu/interface/IcColOut.gif) no-repeat;}
.IconEmail, .KeyEmail	{background: url(../gfx/greyblu/interface/IcEml.gif) no-repeat;}
.IconPreview, .KeyPreview	{background: url(../gfx/greyblu/interface/IcPre.gif) no-repeat;}
.IconStar, .KeyStar	{	background: url(../gfx/greyblu/interface/IcStar.gif) no-repeat;}
.IconReorder, .KeyReorder	{	background: url(../gfx/greyblu/interface/IcReorder.gif) no-repeat;}
.IconComment, .KeyComment	{	background: url(../gfx/greyblu/interface/IcComment.gif) no-repeat;}
.ASC	{background: url(../gfx/greyblu/interface/ASC.gif) no-repeat;background-position:center;}
.DESC	{background: url(../gfx/greyblu/interface/DESC.gif) no-repeat; background-position:center;}
.IconUserRatingStar	{	background: url(../gfx/interface/RatingStarYellow.gif) no-repeat;}
.IconUserRatingSpace	{	background: url(../gfx/interface/RatingStarBlank.gif) no-repeat;}
.StarSelect {  background: transparent url(../gfx/interface/RatingStarYellow.gif) no-repeat;}
.StarEmpty {  background: transparent url('../gfx/interface/RatingStarLightBlue.gif') no-repeat;}
.StarCurrent { background: transparent url('../gfx/interface/RatingStarWhite.gif') no-repeat;}

.NavUnderline {border-bottom: 1px solid #5A7599;}

.SearchSpace .tick, .SearchSpace .SearchItem, .ListviewStyle, .RecordPanel .SearchSimilar, .RecordPanel .item p, .RecordPanel .itemNarrow p, .BasicsBox h1, .BasicsBox h2, .BasicsBox p, .OxColourWhite, .Selected, .Selected a, .Question, .RecordPanel .Title {color: #FFFFFF;} 

.Question{border-top: 1px solid #5A7599;}

.RecordPanel {background: #446693 url(../gfx/greyblu/interface/recordpanel.gif) repeat-x;border-top: 1px solid #FFFFFF;border-right: 1px solid #94A7C0;border-bottom: 1px solid #94A7C0;border-left: 1px solid #94A7C0;}
.RecordPanel .Title {	border-bottom: 1px solid #94A7C0;}
.RecordPanel .RecordDownload {border-top: 1px solid #FFFFFF;border-right: 1px solid #94A7C0;border-bottom: 1px solid #94A7C0;	border-left: 1px solid #94A7C0;background: #537097 url(../gfx/greyblu/interface/Download.gif) repeat-x;}
.RecordPanel .RecordDownload .DownloadDBlend td {border: 1px solid #6280a7;	color: #FFFFFF;}
.RecordPanel .RecordDownloadSpace .DownloadDBlend .DownloadButton {background: #7DA56E url(../gfx/greyblu/interface/DownloadButton.gif?nc=1) repeat-x;}
.RecordPanel .RecordDownloadSpace .DownloadDBlend p {color: #758FB1;text-align: left;}
.RecordPanel .RecordDownloadSpace .DownloadDBlend a {color: #FFFFFF;text-align: left;}
.RecordPanel .RecordDownloadSpace .DownloadDBlend {background: #1A447C url(../gfx/greyblu/interface/DownloadCell.gif) repeat-x;}

.ArchiveResourceTitle {color: #C2E066;}
.RecordStory{color: #000000;background: #FFFFFF url(../gfx/greyblu/interface/StoryShadow.gif) repeat-x;}
.RecordStory h1{color: #000000;}
.RecordStory a:hover{color: #000000;}

.BasicsBox .HorizontalNav li {border-right:1px solid #B5C3D4;border-top-style: none;border-bottom-style: none;border-left-style: none;}
.BasicsBox .VerticalNav li, .ThemeBox li {list-style: url(../gfx/greyblu/interface/bullet.gif) none inside;}
.ThemeBox {border-bottom: 1px solid #5A7599;}

.HomePanel h2 {background: url(../gfx/greyblu/interface/HomeArrow.gif) no-repeat 1px 5px;}

.BasicsBox ul, .BasicsBox ol {color:#FFFFFF;}

.highlight {color: #FFFF88;}

.Tab a {border: 1px solid #B5C3D4;border-bottom-style: none;color: #95a3b4;background-color:#52719B;}
.StyledTabbedPanel {border: 1px solid #B5C3D4;border-top: 1px solid white;background-image: url(../gfx/greyblu/interface/Download.gif);}
.TabSelected a {color: white;background-color:#6985A9;border-top-color: white;}

.InfoTable {border-collapse:collapse;}
.InfoTable tr {background-image: url(../gfx/greyblu/interface/SearchBox.gif);background-repeat: repeat-x;background-color: #597499;}
.InfoTable td {border:1px solid #94A7C0;border-top:1px solid #fff;padding:10px;}

.NewFlag {background-color:#C2E066;color:#446693;}

/* Mouseover effect on list views */
.ListviewStyle tr:hover td {background-color: #5982bb;} 
.ListviewStyle tr.ListviewTitleStyle:hover td, .ListviewStyle tr.ListviewBoxedTitleStyle:hover td {background:none;} 

