body {width:97.5%;font-size: 70%;}
/*td, textarea{font-size: 70%;}*/
#CentralSpaceContainer {float:left;padding:0;margin:0 0 0 -199px; width: 98%; display:inline; }
#CentralSpace {margin-left: 224px; overflow: hidden; padding: 0; }
.RecordBox { display: inline-block; margin-right: 15px; }
#SearchBox { position: relative; margin-left: 0; }
.SearchSpace .SearchWidth {width: 155px; }
.HomePanel {margin:0px 15px 7px 0px;} 
.RecordHeader h1 {height:10px;}
.StyledTabbedPanel div { position: relative; display: inline-block; }
#RecordDownload { margin-right: 10px; }

