body {width:97.5%;font-size: 70%;}
/*td, textarea{font-size: 70%;}*/
#CentralSpaceContainer {float:left;padding:0;margin:0 0 0 -199px;padding:0;width: 100%;display:inline;}
#CentralSpace {margin-left: 224px;}
.SearchSpace .SearchWidth {width: 155px;}
.HomePanelIN {height: 90px;}
.HomePanel {margin:0px 15px 7px 0px;} 
.RecordHeader h1 {height:10px;}

